a {
  color: #0b6e50; }
  a:hover, a:focus {
    color: #419e82; }

.navbar-default {
  background-color: #073b3a;
  border-color: #073b3a; }
  .navbar-default .navbar-brand {
    color: #84bd9b; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff;
      background-color: #3c6c6b; }
  .navbar-default .navbar-nav > li > a {
    color: #84bd9b; }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: transparent;
      color: #ffffff; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff;
      background-color: transparent; }
    @media (max-width: 767px) {
      .navbar-default .navbar-nav > li > a {
        color: #84bd9b; }
        .navbar-default .navbar-nav > li > a:hover {
          background-color: #3c6c6b;
          color: #ffffff; }
        .navbar-default .navbar-nav > li > a:focus {
          color: #ffffff;
          background-color: #3c6c6b; } }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #ffffff; }
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #598281;
    background-color: transparent; }
  .navbar-default .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff; }
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: transparent; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
      color: #ffffff;
      background-color: #3c6c6b; }
    .navbar-default .navbar-nav > .open > a:focus {
      color: #ffffff;
      background-color: #3c6c6b; } }
  .navbar-default .navbar-nav > .open .dropdown-menu {
    background-color: #cccccc; }
    .navbar-default .navbar-nav > .open .dropdown-menu > li > a {
      color: #073b3a; }
      .navbar-default .navbar-nav > .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #073b3a; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #073b3a; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #073b3a; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #84bd9b;
      background-color: #073b3a; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #598281;
      background-color: transparent; } }

.navbar-default.navbar-transparent .navbar-nav > li > a {
  color: #e6e6e6; }
  .navbar-default.navbar-transparent .navbar-nav > li > a:hover {
    color: #ffffff; }
  .navbar-default.navbar-transparent .navbar-nav > li > a:focus {
    color: #ffffff; }
  @media (max-width: 767px) {
    .navbar-default.navbar-transparent .navbar-nav > li > a {
      color: #84bd9b; }
      .navbar-default.navbar-transparent .navbar-nav > li > a:hover {
        background-color: #3c6c6b;
        color: #ffffff; }
      .navbar-default.navbar-transparent .navbar-nav > li > a:focus {
        background-color: #3c6c6b;
        color: #ffffff; } }
.navbar-default.navbar-transparent .navbar-nav > .active > a, .navbar-default.navbar-transparent .navbar-nav > .active > a:hover, .navbar-default.navbar-transparent .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #ffffff; }
.navbar-default.navbar-transparent .navbar-nav > .disabled > a, .navbar-default.navbar-transparent .navbar-nav > .disabled > a:hover, .navbar-default.navbar-transparent .navbar-nav > .disabled > a:focus {
  color: #bfbfbf;
  background-color: transparent; }
.navbar-default.navbar-transparent .navbar-nav > .open > a, .navbar-default.navbar-transparent .navbar-nav > .open > a:hover {
  color: #ffffff; }
.navbar-default.navbar-transparent .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: transparent; }
@media (max-width: 767px) {
  .navbar-default.navbar-transparent .navbar-nav > .open > a, .navbar-default.navbar-transparent .navbar-nav > .open > a:hover {
    background-color: #3c6c6b;
    color: #ffffff; }
  .navbar-default.navbar-transparent .navbar-nav > .open > a:focus {
    background-color: #3c6c6b;
    color: #ffffff; } }
.navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu {
  background-color: #cccccc; }
  .navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu > li > a:hover, .navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #073b3a; }
@media (max-width: 767px) {
  .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #073b3a; }
  .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a, .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #073b3a;
    color: #ffffff; }
  .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #bfbfbf;
    background-color: transparent; } }

.navbar.shrink.navbar-default.navbar-transparent {
  background-color: #073b3a;
  border-color: #073b3a; }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-brand {
    color: #84bd9b; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-brand:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-brand:focus {
      color: #ffffff;
      background-color: #3c6c6b; }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > li > a {
    color: #84bd9b; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > li > a:hover {
      background-color: transparent;
      color: #ffffff; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > li > a:focus {
      color: #ffffff;
      background-color: transparent; }
    @media (max-width: 767px) {
      .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > li > a {
        color: #84bd9b; }
        .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > li > a:hover {
          background-color: #3c6c6b;
          color: #ffffff; }
        .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > li > a:focus {
          color: #ffffff;
          background-color: #3c6c6b; } }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .active > a, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .active > a:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #ffffff; }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .disabled > a, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .disabled > a:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .disabled > a:focus {
    color: #598281;
    background-color: transparent; }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open > a, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open > a:hover {
    color: #ffffff; }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: transparent; }
  @media (max-width: 767px) {
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open > a, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open > a:hover {
      color: #ffffff;
      background-color: #3c6c6b; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open > a:focus {
      color: #ffffff;
      background-color: #3c6c6b; } }
  .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu {
    background-color: #cccccc; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu > li > a {
      color: #073b3a; }
      .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu > li > a:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav > .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #073b3a; }
  @media (max-width: 767px) {
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > li > a {
      color: #073b3a; }
      .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #073b3a; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #84bd9b;
      background-color: #073b3a; }
    .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar.shrink.navbar-default.navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #598281;
      background-color: transparent; } }

.dropdown-menu > li > a {
  color: #333333; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #0b6e50; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #4d4d4d; }

.btn:hover, .btn:focus, .btn.focus {
  color: #333333;
  text-decoration: none; }

.btn-default {
  color: #333333;
  background-color: #cccccc;
  border-color: #a6a6a6; }
  .btn-default:focus, .btn-default.focus {
    color: #333333;
    background-color: #b3b3b3;
    border-color: #666666; }
  .btn-default:hover {
    color: #333333;
    background-color: #b3b3b3;
    border-color: #878787; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333333;
    background-color: #b3b3b3;
    border-color: #878787; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
      color: #333333;
      background-color: #a1a1a1;
      border-color: #666666; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus {
    background-color: #cccccc;
    border-color: #a6a6a6; }
  .btn-default .badge {
    color: #cccccc;
    background-color: #333333; }

.btn-primary {
  color: #fff;
  background-color: #073b3a;
  border-color: #073b3a; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #020d0d;
    border-color: black; }
  .btn-primary:hover {
    color: #fff;
    background-color: #020d0d;
    border-color: #010404; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #020d0d;
    border-color: #010404; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
      color: #fff;
      background-color: black;
      border-color: black; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
    background-color: #073b3a;
    border-color: #073b3a; }
  .btn-primary .badge {
    color: #073b3a;
    background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #08a045;
  border-color: #08a045; }
  .btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #066f30;
    border-color: #022711; }
  .btn-success:hover {
    color: #fff;
    background-color: #066f30;
    border-color: #05662c; }
  .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #066f30;
    border-color: #05662c; }
    .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
      color: #fff;
      background-color: #044d21;
      border-color: #022711; }
  .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus {
    background-color: #08a045;
    border-color: #08a045; }
  .btn-success .badge {
    color: #08a045;
    background-color: #fff; }

.btn-info {
  color: #fff;
  background-color: gray;
  border-color: gray; }
  .btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #666666;
    border-color: #404040; }
  .btn-info:hover {
    color: #fff;
    background-color: #666666;
    border-color: #616161; }
  .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #666666;
    border-color: #616161; }
    .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
      color: #fff;
      background-color: #545454;
      border-color: #404040; }
  .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus {
    background-color: gray;
    border-color: gray; }
  .btn-info .badge {
    color: gray;
    background-color: #fff; }

.btn-warning {
  color: #fff;
  background-color: #08a045;
  border-color: #08a045; }
  .btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #066f30;
    border-color: #022711; }
  .btn-warning:hover {
    color: #fff;
    background-color: #066f30;
    border-color: #05662c; }
  .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #066f30;
    border-color: #05662c; }
    .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
      color: #fff;
      background-color: #044d21;
      border-color: #022711; }
  .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-image: none; }
  .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus {
    background-color: #08a045;
    border-color: #08a045; }
  .btn-warning .badge {
    color: #08a045;
    background-color: #fff; }

.btn-danger {
  color: #fff;
  background-color: #ec0b43;
  border-color: #ec0b43; }
  .btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #bb0935;
    border-color: #720520; }
  .btn-danger:hover {
    color: #fff;
    background-color: #bb0935;
    border-color: #b20832; }
  .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bb0935;
    border-color: #b20832; }
    .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
      color: #fff;
      background-color: #99072b;
      border-color: #720520; }
  .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus {
    background-color: #ec0b43;
    border-color: #ec0b43; }
  .btn-danger .badge {
    color: #ec0b43;
    background-color: #fff; }

.btn-link {
  color: #0b6e50; }
  .btn-link:hover, .btn-link:focus {
    color: #419e82;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #bfbfbf; }

footer {
  background-color: #073b3a;
  color: #fff; }

footer.entry-footer {
  background-color: transparent;
  color: inherit; }

/*# sourceMappingURL=green-scheme.css.map */
