//
// Wordpress Base
// --------------------------------------------------


// Basic Wordpress-specific styling
//
// These styles are necessary for Wordpress.org testing and Axiom America-specific classes/IDs and elements.

// Some basic padding for all wrappers
.wrapper {
  padding:$grid-gutter-width 0;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
font-size:inherit;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
  margin-bottom: $line-height-computed;
}

.wp-caption-text {
	font-size: $font-size-small;
  margin-top: (($line-height-computed / 4));
}

.screen-reader-text {
	font-size: inherit;
  display: none;
}

.alignright {
	float: right;
  padding-left:$line-height-computed;
  margin-top: 0;
  margin-bottom: $line-height-computed;
}

.alignleft {
	float: left;
  padding-right:$line-height-computed;
  margin-top: 0;
  margin-bottom: $line-height-computed;
}

.aligncenter {
	margin: $line-height-computed auto;
}

.alignnone {
  margin: $line-height-computed 0;
}

//Limit featured image size to 100%
img.wp-post-image, article img, figure, img, #secondary img {
	max-width: 100%;
  height: auto;
}

figure {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

// Skip to content link
a.skip-link{
z-index: 1000;
position: fixed;
top: 0px;
right: 0px;
}
