//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 20%);
$gray-dark:              lighten($gray-base, 40%);
$gray:                   lighten($gray-base, 60%);
$gray-light:             lighten($gray-base, 80%);
$gray-lighter:           lighten($gray-base, 100%);

$brand-primary:         rgb(7, 59, 58);
$brand-success:         rgb(8, 160, 69);
$brand-info:            $gray;
$brand-warning:         rgb(8, 160, 69);
$brand-danger:          rgb(236, 11, 67);



//
// Text
// --------------------------------------------------


$text-color:            $gray-darker;



//
// Links
// --------------------------------------------------


$link-color:            adjust-hue(saturate(lighten($brand-primary, 10.8%), 3%), -17.1%);
$link-hover-color:      desaturate(lighten($link-color, 20%), 40%);



//
// Navbar
// --------------------------------------------------


$navbar-default-color:                   desaturate(lighten($brand-success, 30%), 60%);
$navbar-default-bg:                      $brand-primary;
$navbar-default-border:                  $navbar-default-bg;
$navbar-default-link-color:              $navbar-default-color;
$navbar-default-link-hover-color:        #ffffff;
$navbar-default-link-hover-bg:           lighten(desaturate($navbar-default-bg, 50%), 20%);
$navbar-default-link-active-color:       $navbar-default-link-color;
$navbar-default-link-active-bg:          $navbar-default-link-hover-bg;
$navbar-default-link-disabled-color:     desaturate(lighten($navbar-default-bg, 30%), 60%);
$navbar-default-link-disabled-bg:        transparent;
$navbar-default-brand-color:             $navbar-default-link-color;
$navbar-default-brand-hover-color:       $navbar-default-link-hover-color;
$navbar-default-brand-hover-bg:          $navbar-default-link-hover-bg;
$navbar-transparent-color:               darken(#fff, 10%);
$navbar-transparent-bg:                  transparent;
$navbar-transparent-border:              transparent;
$navbar-transparent-link-color:          $navbar-transparent-color;
$navbar-transparent-link-hover-color:    $navbar-default-link-hover-color;
$navbar-transparent-link-hover-bg:       transparent;
$navbar-transparent-link-active-bg:      $navbar-transparent-link-hover-bg;
$navbar-transparent-link-active-color:   $navbar-transparent-link-hover-color;
$navbar-transparent-link-disabled-color: $gray-light;
$navbar-transparent-link-disabled-bg:    transparent;



//
// Dropdowns
// --------------------------------------------------


$component-active-color:         #ffffff;
$component-active-bg:            $gray-dark;
$dropdown-link-color:            $gray-darker;
$dropdown-link-hover-color:      #ffffff;
$dropdown-link-hover-bg:         $link-color;
$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        $component-active-bg;
$dropdown-link-disabled-color:   $gray-light;
$dropdown-header-color:          $gray-light;




//
// Buttons
// --------------------------------------------------


$btn-default-color:              $text-color;
$btn-default-bg:                 $gray-lighter;
$btn-default-border:             darken($gray-lighter, 15%);

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-link-disabled-color:        $gray-light;



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);



//
// Mixins
// --------------------------------------------------


@import "../bootstrap/bootstrap/mixins/buttons";
@import "../bootstrap/bootstrap/mixins/gradients";



//
// Links
// --------------------------------------------------


a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}



//
// Navbar
// --------------------------------------------------



// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;

    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

    .navbar-nav {
      > li > a {
        color: $navbar-default-link-color;

        &:hover {
          background-color: transparent;
          color: $navbar-default-link-hover-color;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: transparent;
        }
        @media (max-width: $grid-float-breakpoint-max) {
          color: $navbar-default-link-color;

          &:hover {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
          }
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          background-color: transparent;
          color: $navbar-default-link-hover-color;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }

    .navbar-collapse {
      border-top: 1px solid rgba(#fff, 0.5);
    }

  // Dropdown menu items
  .navbar-nav {
    > .open {

      > a {

        &,
        &:hover {
          color: $navbar-default-link-hover-color;
        }

        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: transparent;
        }
        @media (max-width: $grid-float-breakpoint-max) {

          &,
          &:hover {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
      }
      .dropdown-menu {
        background-color: $gray-lighter;

        > li > a {
          color: $brand-primary;

          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-bg;
          }
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      .open .dropdown-menu {
        > li > a {
          color: $brand-primary;

          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-bg;
          }
        }

        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-bg;
          }
        }

        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
}

// Transparent navbar

.navbar-default.navbar-transparent {

    .navbar-nav {
      > li > a {
        color: $navbar-transparent-link-color;
        &:hover {
          color: $navbar-transparent-link-hover-color;
        }
        &:focus {
          color: $navbar-transparent-link-hover-color;
        }
        @media (max-width: $grid-float-breakpoint-max) {
          color: $navbar-default-link-color;
          &:hover {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
          }
          &:focus {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
          }
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          background-color: $navbar-transparent-link-active-bg;
          color: $navbar-transparent-link-active-color;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-transparent-link-disabled-color;
          background-color: $navbar-transparent-link-disabled-bg;
        }
      }
    }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open {
      > a {

        &,
        &:hover {
          color: $navbar-transparent-link-hover-color;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-transparent-link-hover-bg;
        }
        @media (max-width: $grid-float-breakpoint-max) {
          &,
          &:hover {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
          }
          &:focus {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
          }
        }
      }
      .dropdown-menu {
        background-color: $gray-lighter;
        > li > a {
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-bg;
          }
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            background-color: $navbar-default-bg;
            color: $navbar-default-link-hover-color;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-transparent-link-disabled-color;
            background-color: $navbar-transparent-link-disabled-bg;
          }
        }
      }
    }
  }
}


.navbar.shrink.navbar-default.navbar-transparent {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;
      &:hover {
        background-color: transparent;
        color: $navbar-default-link-hover-color;
      }
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }
      @media (max-width: $grid-float-breakpoint-max) {
        color: $navbar-default-link-color;
        &:hover {
          background-color: $navbar-default-link-hover-bg;
          color: $navbar-default-link-hover-color;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: $navbar-default-link-hover-color;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open {
      > a {

        &,
        &:hover {
          color: $navbar-default-link-hover-color;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: transparent;
        }
        @media (max-width: $grid-float-breakpoint-max) {

          &,
          &:hover {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
      }
      .dropdown-menu {
        background-color: $gray-lighter;
        > li > a {
          color: $brand-primary;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-bg;
          }
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $brand-primary;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
}


//
// Dropdowns
// --------------------------------------------------


.dropdown-menu {
  > li > a {
    color: $dropdown-link-color;
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    background-color: $dropdown-link-active-bg;
  }
}



//
// Buttons
// --------------------------------------------------



// Base styles
// --------------------------------------------------

.btn {

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
    }
  }
}



//
// Footer
// --------------------------------------------------



footer {
	background-color: $brand-primary;
	color: #fff;
}

footer.entry-footer {
	background-color: transparent;
	color: inherit;
}
