//
// Form styles
// --------------------------------------------------

.search-submit {
  font-family: "Fontawesome";
}

.comment-form, .post-password-form {
  label {
    display: none;
  }
}

.post-password-form .password-submit {
  display: inline-block;

  @media (max-width: $grid-float-breakpoint-max) {
    margin-top: 10px;
  }
}
