//
// Homepage quote
// --------------------------------------------------

.homepage-quote {
  background-color: $brand-success;
  margin-top: 0;
  margin-bottom: -$grid-gutter-width;
  margin-left: 0;
  margin-right: 0;
  padding: $grid-gutter-width 0;

  blockquote {
    border: none;
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: -0.03em;
    font-size: $font-size-large;

    p {
      &:before {
        content: "\201C";
      }
      &:after {
        content: "\201D";
      }
    }

    footer {
      background-color: transparent;
      color: #fff;
      margin: 0;
      padding: 0;
      text-align: right;
      font-size: ($font-size-large * 0.85);
    }
  }
}
