// Gradients
//
// Adds complete gradients by speciying color.

@mixin gradient-vertical($first-color, $first-color-stop, $second-color, $second-color-stop) {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$second-color',GradientType=0 ); /* IE6-9 */
  background-image: -moz-linear-gradient(top,  $first-color $first-color-stop, $second-color $second-color-stop); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top,  $first-color $first-color-stop,$second-color $second-color-stop); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom,  $first-color $first-color-stop,$second-color $second-color-stop); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Navbar vertical align
//
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.

@mixin navbar-vertical-align($element-height) {
  margin-top: (($navbar-small-height - $element-height) / 2);
  margin-bottom: (($navbar-small-height - $element-height) / 2);
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: $background;
        border-color: $border;
  }
  &:hover {
    color: $color;
    background-color: lighten(desaturate($background, 60%), 30%);
        border-color: lighten(desaturate($border, 60%), 30%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: lighten(desaturate($background, 60%), 30%);
        border-color: lighten(desaturate($border, 60%), 30%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: lighten(desaturate($background, 60%), 30%);
          border-color: lighten(desaturate($border, 60%), 30%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}


// Button fade
//
// Fade button color on hover.

@mixin btn-fade() {
  transition: all 300ms ease;
}
