.featured-posts {
	.featured-post-home {
		background-color: #fff;
		padding: ($grid-gutter-width / 2);
		margin-top: $grid-gutter-width;
		text-align: center;

		.featured-post-thumbnail {
			margin-top: -($grid-gutter-width / 2);
			margin-right: -($grid-gutter-width / 2);
			margin-left: -($grid-gutter-width / 2);
			margin-bottom: $line-height-computed;

			img {
				min-width: 100%;
			}
		}

		.entry-title {
			font-size: ($font-size-h3 * 0.6);
			margin-bottom: $line-height-computed;
		}

		.featured-post-readmore {

			p {
				margin: 0;

				a {
					width: 100px;
					margin: 0 auto;
				}
			}
		}
	}

	.featured-posts-blog-link {
		text-align: center;
		margin-top: $grid-gutter-width;

		& > .btn {

			&.btn-primary.btn-blog-link {
				color: $brand-primary;
				border: 1px solid $brand-primary;
				background-color: transparent;
				font-size: $font-size-large;
				font-weight: 300;
				letter-spacing: 0.03em;

				&:hover {
					color: #fff;
					border: 1px solid $brand-primary;
					background-color: $brand-primary;
				}
			}
		}
	}
}
