//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;
  @include transition-standard();

  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    min-height: $navbar-small-height;
  }

  &.shrink {
    min-height: $navbar-small-height;
  }
}




//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0;
}


// Brand/project name

.navbar-brand {
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  font-size: $font-size-large;
  line-height: $line-height-computed;
  height: $navbar-height;
  transition: all 300ms ease;

  > img {
    display: block;
    max-width: 176px;
    margin-top: -15px;
    transition: all 300ms ease;

    @media (max-width: $grid-float-breakpoint-max) {
      max-width: 112px;
      margin-top: -5px;
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    padding: $navbar-padding-small-vertical $navbar-padding-horizontal;
    height: $navbar-small-height;
  }
}

.navbar.shrink {
  .navbar-brand {
    padding: $navbar-padding-small-vertical $navbar-padding-horizontal;
    height: $navbar-small-height;

    > img {
      max-width: 112px;
      margin-top: -5px;
    }
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  padding: 0;
  @include navbar-vertical-align(34px);
  border: 0px solid transparent;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: 200ms;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    @include navbar-small-vertical-align(14px);
  }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: $line-height-computed;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      > li > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
      > li > a {
        line-height: $line-height-computed;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }

  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }
  }
}

.navbar.shrink {
  .navbar-nav {

    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {

      > li > a {
        padding-top:    $navbar-padding-small-vertical;
        padding-bottom: $navbar-padding-small-vertical;
      }
    }
  }
}


// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  @include border-top-radius(0);
}
// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  @include border-top-radius($navbar-border-radius);
  @include border-bottom-radius(0);
}


// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;
      transition: all 300ms ease;

      &:hover {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }
      &:before {
        content: "";
        position: absolute;
        left: ($navbar-padding-horizontal / 2);
        right: ($navbar-padding-horizontal / 2);
        bottom: 40px;
        height: 2px;
        background-color: $navbar-default-link-hover-color;
        opacity: 0;
        transition: all 300ms ease;
      }
      &:hover:before {
        opacity: 1;
      }
    }
    > .active > a {
      background-color: transparent;
      color: $navbar-default-link-color;

      &:hover {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      > li > a {

        &:hover {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:before {
          opacity: 0;
        }
        &:hover:before {
          opacity: 0;
        }
      }
      > .active > a {
        background-color: transparent;
        color: $navbar-default-link-color;

        &:hover {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $navbar-default-link-color;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: $navbar-default-link-active-color;
      }

      @media (max-width: $grid-float-breakpoint-max) {
        &,
        &:hover,
        &:focus {
          background-color: $navbar-default-link-hover-bg;
          color: $navbar-default-link-active-color;
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
}


// Transparent navbar

.navbar-transparent {
  background-color: $navbar-transparent-bg;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  border-color: $navbar-transparent-border;
  transition: background-color 300ms ease, background-image 300ms ease;

  .navbar-brand {
    color: $navbar-transparent-brand-color;
    &:hover,
    &:focus {
      color: $navbar-transparent-brand-hover-color;
      background-color: $navbar-transparent-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-transparent-color;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    background-color: $navbar-default-bg;
    background-image: none;
    border-color: $navbar-default-border;

    .navbar-brand {
      color: $navbar-default-brand-color;
      &:hover,
      &:focus {
        color: $navbar-default-brand-hover-color;
        background-color: $navbar-default-brand-hover-bg;
      }
    }

    .navbar-text {
      color: $navbar-default-color;
    }
  }

  .navbar-nav {
    > li > a {
      color: $navbar-transparent-link-color;

      &:hover,
      &:focus {
        color: $navbar-transparent-link-hover-color;
        background-color: $navbar-transparent-link-hover-bg;
      }
    }
    > .active > a {
      color: $navbar-transparent-link-color;

      &:hover,
      &:focus {
        color: $navbar-transparent-link-active-color;
        background-color: $navbar-transparent-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-transparent-link-disabled-color;
        background-color: $navbar-transparent-link-disabled-bg;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      > li > a {
        color: $navbar-default-link-color;

        &:hover {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:before {
          opacity: 0;
        }
        &:hover:before {
          opacity: 0;
        }
      }
      > .active > a {
        background-color: transparent;
        color: $navbar-default-link-color;

        &:hover {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $navbar-default-link-color;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: $navbar-default-link-active-color;
      }

      @media (max-width: $grid-float-breakpoint-max) {
        &,
        &:hover,
        &:focus {
          background-color: $navbar-default-link-hover-bg;
          color: $navbar-default-link-active-color;
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-default-border;
        }
        .divider {
          background-color: $navbar-default-border;
        }
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
}

.shrink {
  .navbar-nav {
    > li > a {
      &:before {
        content: "";
        position: absolute;
        left: ($navbar-padding-horizontal / 2);
        right: ($navbar-padding-horizontal / 2);
        bottom: 15px;
        height: 2px;
        background-color: $navbar-default-link-hover-color;
        opacity: 0;
        transition: all 300ms ease;
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }
}

.navbar-transparent.shrink {
  background-color: $navbar-default-bg;
  background-image: none;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-transparent-link-hover-bg;
      }
    }
    > .active > a {
      color: $navbar-default-link-color;
      background-color: transparent;

      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}
