input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #CCC;
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 12px;

	&:focus {
		color: #555;
	}
}

select {
	border: 1px solid #DDD;
}

textarea {
	width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;

  &[for="comment"] {
    margin-top: 30px;
  }
}


.form-control {
	height: 43px;
}
