//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 17.6%);
$gray-dark:              lighten($gray-base, 35.3%);
$gray:                   lighten($gray-base, 47.1%);
$gray-light:             lighten($gray-base, 68.7%);
$gray-lighter:           lighten($gray-base, 90.2%);

$brand-primary:         rgb(0, 38, 61);
$brand-success:         rgb(93, 126, 149);
$brand-info:            $gray;
$brand-warning:         rgb(243, 139, 0);
$brand-danger:          rgb(207, 10, 44);


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray-darker;

//** Global textual link color.
$link-color:            saturate($brand-success, 15%);
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$phi:                     1.618;

$font-family-sans-serif:  "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.5)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)); // ~12px

$heading-scale: 8; // amount of px headings grow from h6 to h1
$font-size-h1:            $font-size-base + $heading-scale * (6 - 1); // 46px
$font-size-h2:            $font-size-base + $heading-scale * (6 - 2); // 40px
$font-size-h3:            $font-size-base + $heading-scale * (6 - 3); // 34px
$font-size-h4:            $font-size-base + $heading-scale * (6 - 4); // 28px
$font-size-h5:            $font-size-base + $heading-scale * (6 - 5); // 22px
$font-size-h6:            $font-size-base + $heading-scale * (6 - 6); // 16px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        $phi; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:          inherit;
$headings-font-weight:          normal;
$headings-large-font-weight:    300;
$headings-large-letter-space:   -0.03em;
$headings-line-height:          1em;
$headings-color:                inherit;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     8px;
$padding-base-horizontal:   14px;

$padding-large-vertical:    (($padding-base-vertical * 1.5));
$padding-large-horizontal:  (($padding-base-horizontal * 1.5));

$padding-small-vertical:    (($padding-base-vertical * 0.5));
$padding-small-horizontal:  (($padding-base-vertical * 0.5));

$padding-xs-vertical:       4px;
$padding-xs-horizontal:     10px;

$line-height-large:         $line-height-base;
$line-height-small:         $line-height-base;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-success;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            10px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  7px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               $gray-lighter;
//** Background color used for `.table-hover`.
$table-bg-hover:                darken($gray-lighter, 5%);
$table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            darken($gray-lighter, 10%);


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $text-color;
$btn-default-bg:                 $gray-lighter;
$btn-default-border:             darken($gray-lighter, 15%);

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-link-disabled-color:        $gray-light;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
$dropdown-border:                darken($gray-lighter, 10%);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ddd;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            $gray-lighter;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      #fff;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $brand-primary;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000;


//== Grid system
//
//## Define your custom responsive grid.

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         62px;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    115px;
$navbar-small-height:              65px;
$navbar-margin-bottom:             0;
$navbar-border-radius:             0;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-padding-small-vertical:    (($navbar-small-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #c4d6ed;
$navbar-default-bg:                $brand-primary;
$navbar-default-border:            $navbar-default-bg;

// Navbar links
$navbar-default-link-color:                $navbar-default-color;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             lighten(desaturate(adjust-hue($navbar-default-bg, 0.4540), 65.3333), 17.4510);
$navbar-default-link-active-color:         $navbar-default-link-hover-color;
$navbar-default-link-active-bg:            $navbar-default-link-hover-bg;
$navbar-default-link-disabled-color:       $gray-light;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 20%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar brand image
$navbar-default-brand-height:                   55px;
$navbar-default-brand-small-height:             30px;
$navbar-default-brand-width:                    176px;
$navbar-default-brand-small-width:              96px;
$navbar-default-brand-padding-vertical:         0;
$navbar-default-brand-margin-vertical:          (($navbar-height - $navbar-default-brand-height) / 2);
$navbar-default-brand-small-margin-vertical:    (($navbar-small-height - $navbar-default-brand-small-height) / 2);

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $navbar-default-link-color;
$navbar-default-toggle-border-color:       transparent;

// Navbar toggle icon bar animation
$navbar-icon-bar-speed: 200ms;
$navbar-icon-bar-easing: cubic-bezier(0.7, 0, 0, 0.7);


//=== Transparent navbar
// Reset Transparent navbar basics
$navbar-transparent-color:                      darken(#fff, 10%);
$navbar-transparent-bg:                         transparent;
$navbar-transparent-border:                     transparent;

// Transparent navbar links
$navbar-transparent-link-color:                 $navbar-transparent-color;
$navbar-transparent-link-hover-color:           $navbar-default-link-hover-color;
$navbar-transparent-link-hover-bg:              transparent;
$navbar-transparent-link-active-color:          $navbar-transparent-link-hover-color;
$navbar-transparent-link-active-bg:             $navbar-transparent-link-hover-bg;
$navbar-transparent-link-disabled-color:        $navbar-transparent-link-color;
$navbar-transparent-link-disabled-bg:           transparent;

// Transparent navbar brand label
$navbar-transparent-brand-color:                $navbar-transparent-link-color;
$navbar-transparent-brand-hover-color:          $navbar-transparent-brand-color;
$navbar-transparent-brand-hover-bg:             $navbar-transparent-link-hover-bg;

// Transparent navbar toggle
$navbar-transparent-toggle-hover-bg:            $navbar-transparent-link-hover-bg;
$navbar-transparent-toggle-icon-bar-bg:         $navbar-transparent-link-color;
$navbar-transparent-toggle-border-color:        transparent;
